.result{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
.result-heading{
    color: #6c757d;
    font-size: 45px;
    font-weight: 600;
}
.result-p{
    font-size: 24px;
    margin-top: 1.4rem;
}
.result-btn {
    padding-left: 48px;
    padding-right: 48px;
    font-size: 24px;
    margin-top: 2rem;
}
.calc-result{
    color: #6c757d;
    font-size: 32px; 
}